@import './../../index.scss';

.revisited {
  min-width: 721px;
  max-width: 877px;
  text-align: center;
  display: inline-block;

  &__header {
    text-align: center;
    color: $primary-color-blue;
  }

  &__footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    font-size: 18px;
    color: $primary-color-blue;
  }
}

.container-fluid {
  display: block;
  padding-left: 20px;
  padding-top: 10px;
}

.revisited .row {
  display: block;
}